# PROYECTO 1

## Ejercicio 1

In [2]:
# Importamos las librerías necesarias
import pandas as pd
import numpy as np

In [11]:
'''
En este ejercicio se realiza las procedimientos para mostrar las ultimas 5 ventas que el usuario va ingresando
al dataFrame
'''

# Inicializamos un identificador para verificar si el usuario seguira ingresando datos
n = 'y'

# Establecemos las columnas iniciales y creamos un dataFrame vacío
columnas = ['Fecha','Precio_unit', 'Ventas']
df = pd.DataFrame()

# En este bucle validamos si se continuará pidiendo datos
while n =='y':

    # solicitamos al usuario los datos necesarios y los guardamos e identificadores
    fecha = input("ingrese fecha (dd-mm-aaaa): ") 
    precio_unit = int(input('ingrese precio unitario del producto: '))
    ventas = int(input('Ingrese cantidad de ventas del día: '))

    # Posteriormente guardamos los datos en un dataFrame
    add_row = pd.DataFrame([[fecha,precio_unit,ventas]], columns=columnas)
    
    # Concatenamos los datos ingresados y vamos llenando el dataFrame vacío
    df = pd.concat([df, add_row], ignore_index=True)

    # Generamos la ganancia sin descuento y con descuento
    df['Ganancia'] = df['Ventas']*df['Precio_unit']
    df['Ganancia_Desc_5%'] = (df['Precio_unit'] - df['Precio_unit']*0.05).round(2)*df['Ventas']

    #Preguntamos si se desea ingresar más productos
    n = input('Desea ingresar otro producto? (y/n): ')

# Finalmente mostramos los ultimos 5 productos ingresados    
df.sort_values('Fecha').tail(5)

        Fecha  Precio_unit  Ventas  Ganancia  Ganancia_Desc_5%
0  01-01-2022           34    2345     79730           75743.5
1  02-01-2022           54    2345    126630          120298.5

## Ejercicio 2

In [ ]:
ingresos = {
    "empleado1": 200,
    "empleado2": 435,
    "empleado3": 567,
    "empleado4": 123,
    "empleado5": 657,
    "empleado6": 876,
    "empleado7": 1023,
    "empleado8": 2134,
    "empleado9": 21343
}

# Creamos un dataFrame con los valores del diccionario como datos principales
# Creamos los index del dataFrame con los 'keys' del diccionario y colocamos la columan de ingresos
df2 = pd.DataFrame(ingresos.values(),
                   index=ingresos.keys(),
                   columns=["Ingreso"])

# Guardamos la descripción del dataFrame en un identificador
df2_desc = df2.describe().round(1)

# Colocamos un nombre a la columna
df2_desc.columns = ["Datos_estadísticos"]

# Y seleccionamos solo los datos que se desean mostrar (min, max, media)
datos = ['min', 'max', 'mean']
df2_desc.loc[df2_desc.index.isin(datos)]
df2

## Ejercicio 3

In [ ]:
# Creamos un diccionario con los datos del ejercicio
data3 = {
    "Mes":["Enero", "Febrero", "Marzo", "Abril", "Mayo"],
    "Ventas":[30500, 35600, 28300, 33900, 42500],
    "Gastos":[22000, 23450, 18100, 35700, 32450]
}
# Creamos un dataFrame con los datos
df3 = pd.DataFrame(data3)

# 1. Columna 1 = Gasto/Ventas*100
# Realizamos los calculos y guardamos en una nueva columna
df3['Columna 1'] = ((df3['Gastos']/df3['Ventas'])*100).round(2)

# 2. Columna 2 = Si Ventas>= 30000, imprimir “Meta Superada”, caso contrario imprimir “Meta no Superada”.
# Hacemos uso de la función "lambda" para aplicar la condición e imprimir si se superó la meta
df3['Columna 2'] = df3['Ventas'].apply(lambda x : "Meta superada" if x>= 30000 else "Meta no superada")

# 3. Columna 3 = Si Gasto>Ventas, calcular el sobre gasto.
# Usamos la funcion "where" de "numpy" para verificar la condicionas fila a fila y colocamos la diferencia si se cumple
df3['Columna 3'] = np.where(df3['Gastos']>df3['Ventas'], df3['Gastos']-df3['Ventas'], np.nan)

#Mostramos la data oculatando los index
df3.style.hide(axis='index')

In [ ]:
# 4. Obtener el total de las ventas de los últimos 3 meses
df3.tail(3)

In [ ]:
# 5. Obtener el total de gastos de febrero a abril
meses = ['Febrero', 'Marzo', 'Abril']
# Para la columna "Gastos" verificamos que los elementos de la columna "Mes" se encuentren en la lista "meses",
# si es el caso entonces sumamos el total de gastos
print("Total gastos de 'Febrero', 'Marzo' y 'Abril' es: ", df3['Gastos'][df3['Mes'].isin(meses)].sum())

## Ejercicio 4

In [ ]:
# Cargamos la data del archivo CSV
df4 = pd.read_csv('Data - Riesgos.csv', index_col='ID')

# Con size obtenemos la cantidad total de datos
print("Cantidad de datos: ",df4.size)
print("")
# Con shape obtenemos las dimensiones del dataFrame
print("Dimensiones del DataFrame: ",df4.shape)
print("")
# Con columns tenemos los nombres de las columnas
print("Columnas: ",df4.columns)
print("")
# Con index tenemos los nombres de las filas
print("Filas: ",df4.index)
print("")
# dytpes nos sirve para obtener los tipos de datos de las columnas
print(df4.dtypes)

In [ ]:
# Mostramos las 10 primeras filas con la funcion head
df4.head(10)

In [ ]:
# Mostramos las 10 ultimas filas con la función tail
df4.tail(10)

In [ ]:
# Para verificar si tenemos datos nulos, usamos la función 'isnull' y luego sumamos la cantiad de datos nulos para analizarlo
df4.isnull().sum()

In [ ]:
# Si queremos guardar en un contenerdor, usamos la función 'copy()' para que nuestra data original no se altere
# Adicionalmente seleccionamos las 10 primeras filas del dataFrame
df4_head_100 = df4.head(100).copy()
df4_head_100